.hero {
  background-image: url(./images/kerala_thrissur.jpg);
  width: 100%;
  height: 100vh;
  position: absolute;
  background-position: right;
  background-repeat: no-repeat;
}
.big-text{
    font-size:100px;
}
@media screen and (max-width:568px) {
    .big-text{
        font-size: 40px;
    }
}